[Desktop Entry]
Name=Update Manager
Name[es]=Administrador de actualizaciones
Comment=Show and install available updates
Comment[es]=Mostrar e instalar las actualizaciones disponibles
GenericName=Show and install available updates
GenericName[es]=Mostrar e instalar las actualizaciones disponibles
Exec=distroupdate
Icon=distroupdate
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;
StartupNotify=false
OnlyShowIn=KDE;
Name[es_ES]=distroupdate-kde
